node_modules/
.env
.env.*.local
.DS_Store
*.log
.vercel
.wwebjs_auth
wwebjs_auth.zip
**/whatsapp-service/.wwebjs_auth
**/whatsapp-service/wwebjs_auth.zip
tmp/
data/
archive/
tests/
.wwebjs_cache/
**/whatsapp-service/.wwebjs_cache/
